

@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}
button.add-bug{
  cursor:pointer;
  top:10;
  right: 20;
}
/* Buttons Section  working*/
button.logout{
  font-family: Cyber;
  margin-top: 10px;
  margin-right: 20px;
  position:absolute;
  top:0;
  right:0;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #4472c7;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  border: 3px solid #e23d3d;
  border-radius: 20px;
  cursor: pointer;
}

h1{
  font-family: Cyber;
  font-size: 100px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
 
}
section.header{
  background-color: #6b74f5;
  height: 10vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Cyber', sans-serif;
  background: linear-gradient(90deg, #f5ed00 70%, #aaa75d 70%), #202013;
}



span.card-title {
  position: relative;
  display: inline-block;
  max-width: 1000px;
  min-width: 1000px;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;
  margin: 40px 0;
}

  